.boot{
    width:100vw;
    height:100vh;

    background:#03070d;

    display:flex;
    flex-direction:column;

    justify-content:center;
    align-items:center;

    overflow:hidden;

    position:relative;
}

.boot::before{

    content:"";

    position:absolute;

    inset:0;

    background:
    repeating-linear-gradient(
        0deg,
        rgba(255,255,255,.03) 0px,
        rgba(255,255,255,.03) 1px,
        transparent 2px,
        transparent 4px
    );

    pointer-events:none;

}

.logo{

    color:#4cff87;

    font-size:20px;

    letter-spacing:6px;

    opacity:.6;

    margin-bottom:50px;

}

.title{

    text-align:center;

    color:#74ff9d;

    font-size:72px;

    font-weight:bold;

    text-shadow:
    0 0 8px #00ff66,
    0 0 20px #00ff66,
    0 0 40px #00ff66;

    animation:pulse 2s infinite;

}

.title span{

    display:block;

    font-size:34px;

    margin-top:12px;

    letter-spacing:5px;

}

.terminal{

    margin-top:70px;

    width:min(900px,90vw);

    height:260px;

    border:1px solid rgba(0,255,120,.3);

    background:rgba(0,0,0,.35);

    padding:25px;

    overflow:auto;

    box-shadow:0 0 25px rgba(0,255,120,.2);

}

#terminalText{

    line-height:1.8;

    color:#6fff8e;

    font-size:18px;

}

#terminalText div{

    animation:fade .25s ease;

}

@keyframes pulse{

    50%{

        transform:scale(1.02);

    }

}

@keyframes fade{

    from{

        opacity:0;

        transform:translateY(8px);

    }

    to{

        opacity:1;

        transform:translateY(0);

    }

}.enterBtn{

    margin-top:40px;

    padding:18px 45px;

    border:2px solid #66ff99;

    color:#66ff99;

    font-size:22px;

    letter-spacing:4px;

    cursor:pointer;

    transition:.3s;

    text-transform:uppercase;

    background:rgba(0,0,0,.25);

    box-shadow:0 0 20px rgba(0,255,120,.2);

}

.enterBtn:hover{

    background:#66ff99;

    color:#000;

    box-shadow:0 0 35px #66ff99;

    transform:scale(1.05);

}