*{
margin:0;
padding:0;
box-sizing:border-box;
}

html,
body,
#app{

width:100%;
height:100%;

}

body{

background:#05070d;

font-family:Consolas,monospace;

overflow:hidden;

}

.boot-screen{

width:100vw;
height:100vh;

display:flex;

justify-content:center;

align-items:center;

flex-direction:column;

background:#03070a;

}

.logo{

font-size:120px;

color:#59ff8b;

font-weight:bold;

letter-spacing:10px;

text-shadow:

0 0 15px #00ff66,

0 0 30px #00ff66,

0 0 60px #00ff66;

animation:pulse 2s infinite;

}

.subtitle{

margin-top:20px;

font-size:22px;

letter-spacing:5px;

color:#6eff98;

opacity:.7;

}

.status{

margin-top:80px;

font-size:18px;

color:#3aff73;

animation:blink 1s infinite;

}

@keyframes pulse{

50%{

transform:scale(1.03);

}

}

@keyframes blink{

50%{

opacity:.3;

}

}
.boot-loader{

width:100vw;
height:100vh;

display:flex;
justify-content:center;
align-items:center;

background:black;

}

#bootText{

color:#57ff7b;

font-size:22px;

line-height:42px;

font-family:Consolas,monospace;

text-shadow:0 0 10px #00ff66;

}
.boot-loader{

transition:1s;

}

.boot-loader.fade{

opacity:0;

filter:blur(8px);

}
.cursor{

display:inline-block;

width:10px;

height:22px;

background:#7dff8a;

margin-left:6px;

animation:blink .8s infinite;

}

@keyframes blink{

50%{

opacity:0;

}

}
.glitch{

animation:glitch .18s 3;

}

@keyframes glitch{

0%{

transform:translate(0);

filter:hue-rotate(0deg);

}

20%{

transform:translate(-4px,2px);

filter:hue-rotate(40deg);

}

40%{

transform:translate(5px,-3px);

}

60%{

transform:translate(-2px,4px);

filter:brightness(1.4);

}

80%{

transform:translate(3px,-2px);

}

100%{

transform:translate(0);

filter:none;

}

}